.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 100px;
}

.contactContainer {
  display: flex;
  width: 1000px;
  height: 700px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.contactInfo {
  flex: 1;
  padding: 2rem;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactForm {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.subtitle {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.infoSection {
  margin-bottom: 1rem;
}

.infoText {
  color: #666;
  margin: 0.3rem 0;
  line-height: 1.4;
  font-size: 1rem;
}

.formTitle {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
}

.formGroup {
  margin-bottom: 0.7rem;
}

.formInput,
.formTextarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.8rem;
  height: 30px;
}

.formInput::placeholder,
.formTextarea::placeholder {
  color: #999;
  font-size: 1rem;
  
}

.formInput:focus,
.formTextarea:focus {
  outline: none;
  border-color: #007bff;
}

.formTextarea {
  height: 70px;
  resize: none;
}

.submitButton {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.6rem;
  font-size: 0.85rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
  
}

@media (max-width: 950px) {
  .contactContainer {
    width: 95%;
    height: auto;
    flex-direction: column;
  }

  .contactInfo,
  .contactForm {
    padding: 1.5rem;
  }
}
